<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Nomad Travel Geek</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/app.js">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>This Is Heroku Awesome!</h1>
     
        <a href="" class="btn btn-primary btn-lg"> Data Base</a>
    </div>
</div>

</body>
</html>