<!--DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Nomad Travel Geek</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/app.js">

</head>
<body>

<div class="flex">
    <div class="white-text">
        <h1>
     Data Base</h1>
    </div>
</div>

</body>
</html>